<div class="card">
  <%= link_to image_tag(cafetype.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to cafetype.shop_name, root_path, class: :card__title%>
   
    <p class="card__summary"> [<%= cafetype.city %>]<br><%= cafetype.catch_copy %>
    </p>
    <%= link_to cafetype.user.nickname, root_path, class: :card__user %>
  </div>
</div>