<%= form_with model: @cafetype, local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
 <p><%= link_to 'トップページへ戻る', root_path , class: :greeting__link %></p>
  <div class="img-upload">
      <div class="weight-bold-text">
        店舗画像
        <span class="indispensable">必須</span><br />
      </div>
      <div class="click-upload">
        <p> クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

  <div class="field">
    <%= f.label :shop_name, "店舗名" %>
     <span class="indispensable">必須</span><br />
    <%= f.text_field :shop_name, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %>
     <span class="indispensable">必須</span><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">都道府県</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
</div>

<div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">市区町村</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）新宿区"%>
      </div>

<div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">番地</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.text_field :block_number, class:"input-default", id:"block_number", placeholder:"例）渋谷1-1-1"%>
      </div>
<%# <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">住所</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.text_field :address, class:"input-default", id:"address", placeholder:"例）東京都渋谷区渋谷1-1-1"%>
      <%# </div> %> 

 <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">Wifi</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.collection_select(:wifi_id, Wifi.all, :id, :name, {}, {class:"select-box", id:"wifi"}) %>

 <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">電源</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.collection_select(:power_supply_id, PowerSupply.all, :id, :name, {}, {class:"select-box", id:"power_supply"}) %>

 <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">席数</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.collection_select(:capacity_id, Capacity.all, :id, :name, {}, {class:"select-box", id:"capacity"}) %>

 <div class="field">
        <div class='form-text-wrap'>
          <label class="form-text">トイレの場所</label>
          <span class="indispensable">必須</span><br />
        </div>
        <%= f.collection_select(:toilet_place_id, ToiletPlace.all, :id, :name, {}, {class:"select-box", id:"toilet_place"}) %>

  <div class="price-content">
          <div class="price-text">
            <span>コーヒー価格（小サイズ）</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :cafe_price, class:"price-input", id:"cafe-price", placeholder:"例）300" %>
        
        </div>


  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>