<main class="main">
  <div class="inner">

 <%= search_form_for Cafetype.ransack(params[:q]), url: search_cafetypes_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :shop_name, placeholder: '店舗名から探す', class: 'search-input' %>
      <%= f.label :submit, class: "search-input" do %>
        <input type="submit" value="検索" class="search-btn">
        <%= f.submit :submit, class: "search-btn", id: "q_submit", style: "display: none;"%>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <div class="greeting">
       <p>こんにちは、
        <%= link_to "#{current_user.nickname}さん" , user_path(current_user), class: :greeting__link %>
       </p> 
      </div>
      <% else %>
      <% end %>
   
    <div class="card__wrapper">
    
      <%= render partial: 'cafetype', collection: @cafetypes %>
    </div>
  </div>
</main>
