<main class="main">
  <div class="inner">
   <%= form_with(url: search_cafetypes_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

    <% if user_signed_in? %>
      <div class="greeting">
       <p>こんにちは、
        <%= link_to "#{current_user.nickname}さん" , user_path(current_user), class: :greeting__link %>
       </p> 
      </div>
      <% else %>
      <% end %>
   
    <div class="card__wrapper">
    
      <%= render partial: 'cafetype', collection: @cafetypes %>
    </div>
  </div>
</main>
