<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
     <p><%= link_to 'トップページへ戻る', root_path , class: :greeting__link %></p>
      <p class="prototype__hedding">
        <%= @cafetype.shop_name %>
      </p>
      <%= link_to "by #{@cafetype.user.nickname}", user_path(@cafetype.user), class: :prototype__user %>
      
      <% if current_user == @cafetype.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_cafetype_path(@cafetype), class: :prototype__btn %>
          <%= link_to "削除する", cafetype_path(@cafetype), method: :delete, class: :prototype__btn %>
        </div>
        <% end %>
      
      <div class="prototype__image">
        <%= image_tag @cafetype.image %>
      </div>
      <div class="cafetype-catch_copy-box">
      <span><%= @cafetype.catch_copy %></span>
      </div>

      <table class="detail-table">
       <tbody>  
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @cafetype.prefecture.name %><%= @cafetype.city %><%= @cafetype.block_number %></td>
        </tr>
        <tr>
          <th class="detail-item">Wi-Fi</th>
          <td class="detail-value"><%= @cafetype.wifi.name %></td>
        </tr>
        <tr>
          <th class="detail-item">電源</th>
          <td class="detail-value"><%= @cafetype.power_supply.name %></td>
        </tr>
        <tr>
          <th class="detail-item">席数</th>
          <td class="detail-value"><%= @cafetype.capacity.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トイレの場所</th>
          <td class="detail-value"><%= @cafetype.toilet_place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">コーヒー価格（小サイズ）</th>
          <td class="detail-value"><%= @cafetype.cafe_price %>円</td>
        </tr>
      </tbody>
    </table>

<h2> 店舗地図</h2>
<br>
<input type="button" value="表示する" onclick="codeAddress()">
<input id="address" class="map-value" type="textbox" value="<%= @cafetype.prefecture.name %><%= @cafetype.city %><%= @cafetype.block_number %>">
<div id='map'>
</div>

<style>  
#map { 
      height: 500px;
      width: 80%;
      margin: 24px;
}
</style>

<script>

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.68944, lng: 139.69167},
  zoom: 15
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
  // map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

  // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2kNzka4-btKLC3fXs9n-qGyzpbjsOT3U&callback=initMap" async defer></script>


     <div id="comments">
      <h4>＜コメント一覧＞</h4>
        <% @cafetype.comments.each do |comment| %>
          <div class="comment">
            <p class="user-info"><%= link_to "#{comment.user.nickname}",user_path(@cafetype.user) %>： </p>
            <p><%= comment.text %></p>
          </div>
        <% end %>
    </div>

     
        <div class= "comment-form">
          <% if user_signed_in? %>
            <%= form_with model: [@cafetype,@comment], id: "comment-form" , local: true do |f| %>
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment-text" %>
              <%= f.submit "コメントする", class: "comment-submit" %> 
             <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
