<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @cafetype.shop_name %>
      </p>
      <%= link_to "by プロトタイプの投稿者", root_path, class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @cafetype.user_id%>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_cafetype_path(@cafetype.id), class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @cafetype.image %>
      </div>
      <div class="cafetype-catch_copy-box">
      <span><%= @cafetype.catch_copy %></span>
      </div>

      <table class="detail-table">
       <tbody>  
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @cafetype.prefecture.name %><%= @cafetype.city %><%= @cafetype.block_number %></td>
        </tr>
        <tr>
          <th class="detail-item">Wi-Fi</th>
          <td class="detail-value"><%= @cafetype.wifi.name %></td>
        </tr>
        <tr>
          <th class="detail-item">電源</th>
          <td class="detail-value"><%= @cafetype.power_supply.name %></td>
        </tr>
        <tr>
          <th class="detail-item">席数</th>
          <td class="detail-value"><%= @cafetype.capacity.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トイレの場所</th>
          <td class="detail-value"><%= @cafetype.toilet_place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">コーヒー価格（小サイズ）</th>
          <td class="detail-value"><%= @cafetype.cafe_price %>円</td>
        </tr>
      </tbody>
    </table>

      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# <%= form_with model: モデル名,local: true do |f|%>
            <div class="field">
              <%# <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge, id:"comment_content" %>
            </div>
            <div class="actions">
              <%# <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
